<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="com.zhshio.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:test16/token.properties"/>
    </bean>

    <bean class="com.zhshio.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.zhshio.springframework.test16.bean2.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.zhshio.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.zhshio.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.zhshio.springframework.test16.bean2.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

    <component-scan base-package="com.zhshio.springframework.test16.bean2"/>
</beans>